<a href="https://colab.research.google.com/github/suyeon0702/database/blob/main/%EA%B9%80%EC%88%98%EC%97%B0_ch9_homework_2020_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - SQL Programming

1. Use Google Colabortory and do your homework.
3. (In Google colaboratory) Before you submit your homework, restart kernel and run every cell!
4. Save (File->Save) the file
5. Submit your homework (this file) in Google classroom
6. **Don't forget to click "제출" button** ("Submit", "완료로 표시", 또는 "제출" 버턴을 누르지 않으면 제출된 것이 아님)
7. No late homeworks will be accepted for any reason!

To edit this cell, double click here
```
이름: 김수연
학번: 201800839
학과:컴퓨터전자시스템공학부
제출일: 2020-12-11 금
```

In [ ]:
%load_ext sql

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/1a/ea/dd9c81e2d85efd03cfbf808736dd055bd9ea1a78aea9968888b1055c3263/PyMySQL-0.10.1-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 4.0MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1

### Use your host, id, password, and database

In [ ]:
import getpass
user = 'K'
password = getpass.getpass()
host='database-k.cmwfybsdxmni.us-east-1.rds.amazonaws.com'
database = 'companydb'
connection_string = f'mysql+pymysql://{user}:{password}@{host}:3306/{database}'
    
%sql $connection_string

··········

'Connected: K@companydb'

## Warning: Your companydb state MUST be clean as initial state

- Refer to jupyter notebook on "SQL Lab on AWS RDS"

### 1. ssn이 '888665555'인 직원과 그 모든 직간접 부하직원의 이름과 '888665555'로 부터 부하직원에 이르는 경로를 출력한다. (companydb DB 사용, mysql recursive CTE 참조, Googling) (20점) 20점

```
+---------------------+--------------------------------------------------------+
| ename               | path                                                   |
+---------------------+--------------------------------------------------------+
| James E. Borg       | James E. Borg                                          |
| Franklin T. Wong    | James E. Borg > Franklin T. Wong                       |
| John B. Smith       | James E. Borg > Franklin T. Wong > John B. Smith       |
| Joyce A. English    | James E. Borg > Franklin T. Wong > Joyce A. English    |
| Ramesh K. Narayan   | James E. Borg > Franklin T. Wong > Ramesh K. Narayan   |
| Jennifer S. Wallace | James E. Borg > Jennifer S. Wallace                    |
| Ahmad V. Jabbar     | James E. Borg > Jennifer S. Wallace > Ahmad V. Jabbar  |
| Alicia J. Zelaya    | James E. Borg > Jennifer S. Wallace > Alicia J. Zelaya |
+---------------------+--------------------------------------------------------+
```

In [ ]:
%%sql
-- YOUR CODE HERE

with recursive CTE (ename, ssn, path) as (
    select concat(fname, ' ', minit, '. ', lname), ssn, cast(concat(fname, ' ', minit, '. ', lname) as CHAR(200))
    from EMPLOYEE
    where superssn is null
    
    union all

    select concat(e.fname, ' ', e.minit, '. ', e.lname), e.ssn, concat(c.path, ' > ', concat(e.fname, ' ', e.minit, '. ', e.lname))
    from CTE as c join EMPLOYEE as e
    on c.ssn = e.superssn
    
)
select ename, path from CTE order by path

 * mysql+pymysql://K:***@database-k.cmwfybsdxmni.us-east-1.rds.amazonaws.com:3306/companydb
8 rows affected.

[('James E. Borg', 'James E. Borg'),
 ('Franklin T. Wong', 'James E. Borg > Franklin T. Wong'),
 ('John B. Smith', 'James E. Borg > Franklin T. Wong > John B. Smith'),
 ('Joyce A. English', 'James E. Borg > Franklin T. Wong > Joyce A. English'),
 ('Ramesh K. Narayan', 'James E. Borg > Franklin T. Wong > Ramesh K. Narayan'),
 ('Jennifer S. Wallace', 'James E. Borg > Jennifer S. Wallace'),
 ('Ahmad V. Jabbar', 'James E. Borg > Jennifer S. Wallace > Ahmad V. Jabbar'),
 ('Alicia J. Zelaya', 'James E. Borg > Jennifer S. Wallace > Alicia J. Zelaya')]

### 2. 입력으로 주어진 ssn의 모든 직간접 부하직원을 찾으려 한다. 이를 수행하는 Java JDBC 코드를 작성한다. (60점) 0점

**방법**: Common table supervisees에 해당하는  temporary table 'tempssn' (using MEMORY engine)을 사용한다. tempssn에 루프의 전 단계에서 삽입된 ssn과 EMPLOYEE 테이블을 조인하여 다음 단계의 부하직원을 찾는다. 다음 단계의 직원이 한 명도 없다면 루프를 끝낸다. (**반드시 이 방법을 사용하여여 한다.**)

- temporary table (using memory engine)를 사용하지 않으면 0점
- insert into ... select ...를 사용하면 0점
- code의 indentation이 맞지 않으면 0점
- recursion을 사용하면 0점
- truncate를 사용하면 0점

테스트하기전에 반드시 아래 데이터를 삽입한다. 

```SQL
insert into EMPLOYEE(fname, lname, ssn, superssn) values
    ('UUU', 'UUU', '000000001', '999887777'),
    ('VVV', 'VVV', '000000002', '000000001'),
    ('WWW', 'WWW', '000000003', '000000002'),
    ('XXX', 'XXX', '000000004', '000000003'),
    ('YYY', 'YYY', '000000005', '000000004'),
    ('ZZZ', 'ZZZ', '000000006', '000000005')
```

**제출문**:
1. 자바 코드
2. 아래의 각 테스트 케이스에 해당하는 이클립스 스크린샷. 

**CHEATING 발견시 모든 제출자의 점수를 "-만점"으로 처리함. (예 20점 만점이면 -20점)**

## Your Java Code
- To edit this cell, double click here

```java
// homework5
package sample_code;
import java.sql.*;
import javax.swing.JOptionPane;
import javax.swing.JPasswordField;
import java.io.*;

public class Homework5 {
	public static void main (String args [])
	throws SQLException, IOException {
		try
		{
			//Connect to the database
			Class.forName("com.mysql.cj.jdbc.Driver");
			String host = "database-k.cmwfybsdxmni.us-east-1.rds.amazonaws.com:3306/";
			String db = "companydb";
			String user = "K";
			String password = getPassword();
			Connection con = DriverManager.getConnection("jdbc:mysql://" + host + db + "?useSSL=false", user, password);
			
			
			Statement stmt = con.createStatement();
			stmt.executeUpdate("drop table if exists tempssn");
			stmt.executeUpdate("create table tempssn(ssn int primary key, level int) engine = InnoDB");
			boolean success = false;
			con.setAutoCommit(false);
			//when transaction is execute normally, set success to true
			// if success is true, commit; otherwise rollback
			
			String query = "select FNAME, LNAME, SSN, SUPERSSN from EMPLOYEE = ?";
			PreparedStatement pstmt = con.prepareStatement(query);
			String ssn = readEntry("Enter a ssn: ");
			pstmt.clearParameters();
			pstmt.setString(1, ssn);
			ResultSet rset = pstmt.executeQuery();
			int count = 1;
			
			try {
				/*
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('UUU', 'UUU', '000000001', '999887777')");
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('VVV', 'VVV', '000000002', '000000001')");
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('WWW', 'WWW', '000000003', '000000002')");
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('XXX', 'XXX', '000000004', '000000003')");
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('YYY', 'YYY', '000000005', '000000004')");
				stmt.executeUpdate("insert into EMPLOYEE(fname, lname, ssn, superssn) values('ZZZ', 'ZZZ', '000000006', '000000005')");
				*/
			
				while(rset.next()) {
					String ssn1 = rset.getString(1);
					
					stmt.executeUpdate("insert into tempssn values(ssn1, count)");
					
					count += 1;
					
				}
				success = true;
			} catch (Exception e) {
				System.out.println("Exception occurred. Transaction will be roll backed");
				System.out.println("SQL State: " + ((SQLException)e).getSQLState());
				System.out.println("SQL Error Message: " + e.getMessage());
			} finally {
				try {
					if (success) {
						con.commit();
					} else {
						con.rollback();
					}
				} catch (SQLException sqle) {
					sqle.printStackTrace();
				}
			}
			//close objects
			con.close();
		}
		catch (SQLException ex)
		{
			System.out.println("SQLException" + ex);
		}
		catch (Exception ex)
		{
			System.out.println("Exception:" + ex);
		}
	}
	
	private static String getPassword() {
		final String password, message = "Enter password";
		if(System.console() == null)
		{
			final JPasswordField pf = new JPasswordField();
			password = JOptionPane.showConfirmDialog(null, pf, message,
					JOptionPane.OK_CANCEL_OPTION,
					JOptionPane.QUESTION_MESSAGE ) == JOptionPane.OK_OPTION ?
							new String(pf.getPassword()) : "";
		}
		else
			password = new String(System.console().readPassword("%s> ", message));
		
		return password;
	}
	
	//ReadEntry function -- to read input string
	private static String readEntry(String prompt) {
		try {
			StringBuffer buffer = new StringBuffer();
			System.out.print(prompt);
			System.out.flush();
			int c = System.in.read();
			while (c != '\n' && c != -1) {
				buffer.append((char)c);
				c = System.in.read();
			}
			return buffer.toString().trim();
		} catch (IOException e) {
			return "";
		}
	}
}
```

## Test Case SELF-CHECK

- 아래 CELL을 수정하여 성공한 경우,
#### Test Case 1: SUCCESS

- 실패한 경우,
#### Test Case 1: FAIL
로 표시한다.
- 다른 Testcase에 대해서도 같은 방식으로 표기한다.

## Test Case 1:  FAIL
```
Enter a ssn: 888665555
333445555 at level 1
987654321 at level 1
123456789 at level 2
453453453 at level 2
666884444 at level 2
987987987 at level 2
999887777 at level 2
000000001 at level 3
000000002 at level 4
000000003 at level 5
000000004 at level 6
000000005 at level 7
000000006 at level 8
END OF LIST
```

- To edit this cell, double click here
- copy&paste your eclipse screenshot here

## Test Case 2:  FAIL
```
Enter a ssn: 453453453
END OF LIST

```

- To edit this cell, double click here
- copy&paste your eclipse screenshot here

## Test Case 3: FAIL
```
Enter a ssn: 999887777
000000001 at level 1
000000002 at level 2
000000003 at level 3
000000004 at level 4
000000005 at level 5
000000006 at level 6
END OF LIST
```

- To edit this cell, double click here
- copy&paste your eclipse screenshot here

## Test Case 4: FAIL
```
Enter a ssn: 333445555
123456789 at level 1
453453453 at level 1
666884444 at level 1
END OF LIST
```

- To edit this cell, double click here
- copy&paste your eclipse screenshot here